notebooks/exploratory/figures/readme-writer-sample.svg
notebooks/exploratory/figures/readme-writers-samples.svg
notebooks/exploratory/figures/readme-data.svg
/env/
data
data/KMNIST/
langdon/__pycache__/*
langdon/models/__pycache__/*
*.pyc
*.pyo
/results/
/.ipynb_checkpoints/
/conda-env/
/.virtual_documents/
