absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1615404881292/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1614281151354/work
aiohttp-cors==0.7.0
aioredis==1.3.1
alembic==1.4.1
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1610094676799/work
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
blessings==1.7
blinker==1.4
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1619593780156/work
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1613414067184/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093477312/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1621503759047/work
cliff @ file:///home/conda/feedstock_root/build_artifacts/cliff_1614259090121/work
cloudpickle==1.6.0
cmaes @ file:///home/conda/feedstock_root/build_artifacts/cmaes_1613785714721/work
cmd2 @ file:///Users/runner/miniforge3/conda-bld/cmd2_1614256620453/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorful==0.5.4
colorlog==5.0.1
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1616851512278/work
cycler==0.10.0
databricks-cli==0.14.3
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1621187651333/work
docker==5.0.0
entrypoints==0.3
filelock==3.0.12
Flask==2.0.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1621008914210/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1610147350851/work
gitdb==4.0.7
GitPython==3.1.17
google-api-core==1.28.0
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1619638455278/work
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.53.0
gpustat==0.6.0
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1620327554207/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1621565937665/work
gunicorn==20.1.0
hiredis==2.0.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1619012232815/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1620912982711/work/dist/ipykernel-5.5.5-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1620254461779/work
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1610146833874/work
Jinja2==3.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1612125286065/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1610099793141/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1610659158978/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1621455730621/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1620506066343/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1618935594181/work
mlflow==1.17.0
msgpack==1.0.2
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1610319065069/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1621506322303/work
nvidia-ml-py3==7.352.0
oauthlib==3.0.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencensus==0.7.13
opencensus-context==0.1.2
optuna @ file:///home/conda/feedstock_root/build_artifacts/optuna_1617604571453/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.2.4
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pbr @ file:///home/conda/feedstock_root/build_artifacts/pbr_1619460527081/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1621288026676/work
prettytable @ file:///home/conda/feedstock_root/build_artifacts/prettytable_1614725168556/work
prometheus-client==0.10.1
prometheus-flask-exporter==0.18.2
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1616432837031/work
protobuf==3.15.8
psutil==5.8.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyDeprecate @ file:///home/conda/feedstock_root/build_artifacts/pydeprecate_1620456976195/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1620245170812/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1619620644068/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyperclip @ file:///home/conda/feedstock_root/build_artifacts/pyperclip_1610639094381/work
pyrsistent==0.17.3
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291493748/work
python-dateutil==2.8.1
python-editor==1.0.4
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1621464816426/work
pytz==2021.1
PyYAML==5.4.1
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1614611974007/work
querystring-parser==1.2.4
ray==1.3.0
redis==3.5.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1619628638148/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1619561960917/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==4.0.0
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1620731187336/work
sqlparse==0.4.1
stevedore @ file:///Users/runner/miniforge3/conda-bld/stevedore_1610093960974/work
tabulate==0.8.9
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1610699261066/work/tensorboard-2.4.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1611075653546/work/tensorboard_plugin_wit-1.8.0-py3-none-any.whl
tensorboardX==2.2
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
torch @ file:///Users/runner/miniforge3/conda-bld/pytorch-recipe_1619039139355/work
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1620647848434/work
torchvision @ file:///Users/runner/miniforge3/conda-bld/torchvision-split_1619073573844/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094711612/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1617680194207/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
websocket-client==1.0.0
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1610354259068/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1614945704755/work
